$theme-blue: #194771;
$theme-orange: #F74525;
$theme-red: #CF3423;
$theme-maroon: #984E5F;
$theme-white: #FBF7F3;

.attribution {
    font-size: 9px;
    font-style: italic;
    padding: 10px;
    text-align: right;
    width: 100%;
}

.Search {
    background-color: #222;
    padding: 20px 0 30px;
    color: white;
    background: linear-gradient(40deg,$theme-red 35%,$theme-orange 90%);
    text-align: center;
    margin-bottom: 20px;
    width: 100%;
    z-index: 10;
    box-shadow: 0 5px 7px rgba(0, 0, 0, 0.4);

    @media (min-width: 850px) {
        position: fixed;
    }

    h2 {
        margin-top: 0;
    }

    .Search__wrap {
        position: relative;
        display: block;
        max-width: 20em;
        height: 3em;
        margin: auto;
        line-height: 3;
        background: $theme-white;
        overflow: hidden;
        border-radius: .25em;

        &:after {
            content: '\25BC';
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            padding: 0 1em;
            background: $theme-blue;
            pointer-events: none;
            transition: .25s all ease;
        }

        &:hover {
            &:after {
                color: $theme-red;
            }
        }
    }

    select {
        appearance: none;
        outline: 0;
        box-shadow: none;
        border: 0;
        background: $theme-white;
        background-image: none;

        width: 100%;
        height: 50px;
        margin: 0;
        padding: 0 0 0 .5em;
        color: #0D1426;
        cursor: pointer;
        font-size: 15px;
        margin-left: 10px;
    }

    select::-ms-expand {
        display: none;
    }
}

.Post {
    overflow: hidden;
    max-width: 1200px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: auto;
}

.Single {
    position: relative;
    width: calc(100% - 100px);
    text-align: center;
    border: 1px solid lightgray;
    border-radius: 3px;
    padding: 30px;
    margin: 19px;
    box-shadow: 1px 1px 10px rgba(128, 128, 128, 0.36);
    overflow: hidden;

    @media (min-width: 850px) {
        width: 50%;
        text-align: center;
        width: calc(50% - 100px);
        transition: box-shadow 0.5s;
        box-shadow: none;

        &:hover {
            box-shadow: 4px 4px 10px rgba(128, 128, 128, 0.36);
        }

        &:first-child,
        &:nth-child(2) {
            margin-top: 180px;
        }
    }

    .Single__image {
        animation: img-load 1s ease-in-out;
        overflow: hidden;
        width: 100%;
        height: 300px;
        display: block;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        position: absolute;
        left: 0;
        right: 0;
        top: 0;

        @media (min-width: 850px) {
            display: inline-table;
        }
    }

    img {
        max-width: 100%;
        object-fit: cover;

        @media (min-width: 850px) {
            height: 100%
        }
    }

    .Single__content {
        position: relative;
        margin-top: 300px;
        text-align: left;

        &:before {
            content: "\A";
            border-style: solid;
            border-width: 20px 28px 20px 0;
            border-color: transparent white transparent transparent;
            position: absolute;
            left: 50%;
            transform: rotate(90deg);
            top: -63px;
        }

        @media (min-width: 850px) {
            display: flex;
            flex-direction: column;
            justify-content: center;
            padding: 0;
        }
    }

    h4 {
        margin-top: 0;
        margin-bottom: 10px;
    }

    p {
        color: #333;
        margin-top: 10px;
        margin-bottom: 10px;
    }

    .Single__author {
        font-size: 13px;
    }

    .read-more {
        display: inline-table;
        text-decoration: none;
        color: #6E0B25;
        font-weight: bold;
    }
}

@keyframes img-load {
  0%   { opacity: 0; }
  100% { opacity: 1; }
}
