.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.MainSearch__header {
    background-color: #222;
    height: 150px;
    padding: 20px;
    color: white;
    background: linear-gradient(40deg,#0D1426 35%,#6E0B25 90%);
    text-align: center;

    form {
        position: relative;
        max-width: 800px;
        margin: auto;
        padding: 10px;
        background-color: white;
        border-radius: 3px;
    }

    .MainSearch__input {
        width: calc(100% - 20px);
        padding: 10px 0 10px 20px;
        border-radius: 3px;
        border: none;

        &:focus {
            outline: none;
        }
    }

    .MainSearch__btn {
        position: absolute;
        right: 10px;
        top: 50%;
        transform: translateY(-50%);
        background-color: #20325E;
        color: white;
        text-decoration: none;
        padding: 11px 19px;
        border-radius: 3px;
        border: none;
        cursor: pointer;
        transition: background-color 0.5s;

        &:focus {
            outline: none;
        }

        &:hover {
            background-color: lighten(#20325E, 10%);
        }
    }
}

.MainSearch__intro {
    font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
