$theme-blue: #194771;
$theme-orange: #F74525;
$theme-red: #CF3423;
$theme-white: #FBF7F3;
@import url('https://fonts.googleapis.com/css?family=Roboto:900|Raleway:200');

$thick-font: 'Roboto', sans-serif;
$thin-font: 'Raleway', sans-serif;
